<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <textarea name="name" cols="50" rows="10" v-model="content"></textarea>
    <br/>
    <button @click="addMembers">新增抽奖人员</button>
  </div>
</template>

<script>
import Qs from 'qs'

export default {
  name: 'Add',
  data () {
    return {
      msg: '添加抽奖人员',
      content:''
    }
  },
  methods:{
    addMembers:function () {
      let vm=this;
      this.axios({
        url:'http://localhost:8080/raffle/add',
        method:'post',
        data:{
          name:vm.content
        },
        transformRequest: [function (data) {
          return Qs.stringify(data)
        }]
      }).then(function (res) {
        if (res.data.code==200){
          vm.$router.push('/raffle')
        }else {
          alert(res.data.data)
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
