<template>
<div>
  <input type="text" name="key" v-model="key" placeholder="请输入你要删除的key">
  <br/> <br/>
  <button @click="deleteKey">删除</button>
</div>
</template>

<script>
export default {
  name: "Delete",
  data:function (){
    return{
      title:'删除抽奖的key',
      key:''
    }
  },
  methods:{
    deleteKey:function () {
      let vm=this;
      this.axios({
        //url:'http://localhost:8080/raffle/'+vm.key,
        url:`http://localhost:8080/raffle/${vm.key}`,
        method:'delete'
      }).then(function (res) {
        if (res.data.code==200){
          alert('删除成功')
          setTimeout(function () {
            vm.$router.push('/add')
          },500)
        }else {
          alert(res.data.data)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
