<template>
<div>
  <h1>登录</h1>
  <div>
    用户名<input type="text" name="username" v-model="username"><br/>
    密码<input type="password" name="password" v-model="password"><br/>
    验证码<input type="text" name="code" v-model="code"><br/>
    <img src="http://localhost:8080/captcha"><br/>
    <button @click="login">登录</button>
  </div>
</div>
</template>

<script>

import Qs from 'qs'
export default {
  name: "Login",

  data(){
    return{
      username:'',
      password:'',
      code:'',
    }
  },
  methods:{
    login:function (){
      //获取到表单的数据
      //到后端发送请求
      let vm =this;

      this.axios({
        url:'http://localhost:8080/mng/login',
        method:'post',
        //需要到后端传递的参数
        data:{
          username:vm.username,
          password:vm.password,
          code:vm.code
        },
        transformRequest:[function (data) {
          return Qs.stringify(data)
        }]
      }).then(function (res) {
        console.log(res)
        let code = res.data.code;
        if (code == 200){
          //登录成功 跳转到抽奖
          setTimeout(function () {
            vm.$router.push("/add")
          },1000)
        }else {
          alert(res.data.data)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
