<template>
<div>
  <h1>{{title}}</h1>
  <input type="number" name="count" v-model="count">
  <br/>
  <div class="cj" @click="choujiang">抽奖</div>
  <hr/>
  <h2>恭喜下面的获奖人员</h2>
  <ul>
    <li v-for="name in names">{{name}}</li>
  </ul>
</div>
</template>

<script>

import Qs from 'qs'
export default {
  name: "Raffle",
  data(){
    return{
      title:'抽奖',
      count:1,
      names:[]
    }
  },
  methods:{
    choujiang:function () {
      let vm=this;
      this.axios({
        url:'http://localhost:8080/raffle/pop',
        method:'post',
        data:{
          count:vm.count
        },
        transformRequest: [function (data) {
          return Qs.stringify(data)
        }]
      }).then(function (res) {
        if (res.data.code==200){
          vm.names=res.data.data;
        }else {
          alert(res.data.data)
        }
      })
    }
  }
}
</script>


<style scoped>

.cj{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 24px;
  line-height: 80px;
  margin: 40px auto;
  border: black solid 2px;
  box-shadow: gray 4px 2px 2px;
}

</style>
