<template>
<div>
  <h1>注册</h1>
  <div>
    用户名<input type="text" name="username" v-model="user.username"><br/>
    密码<input type="password" name="password" v-model="user.password"><br/>
    年龄<input type="number" name="age" v-model="user.age"><br/>
    邮箱<input type="email" name="email" v-model="user.email"><br/>
    <button @click="register">注册</button>
  </div>
</div>
</template>

<script>
export default {
  name: "Register",
  data(){
    return{
      user:{
        username:'',
        password:'',
        age:'0',
        email:''
      }
    }
  },
  methods:{
    register:function (){
      let vm=this;

      this.axios({
        url:'http://localhost:8080/mng/register',
        method:'post',
        data:vm.user
      }).then(function (res) {
        if (res.data.code==200){
          //注册成功
          setTimeout(function () {
            vm.$router.push("/")
          },500)
        }else {
          alert(res.data.data)
        }
      });
    }
  }
}
</script>

<style scoped>

</style>
