<template>
<div>
  <h1>{{title}}</h1>
  <button @click="chakan">查看</button>
  <hr/>
  <h2>未抽到的人员</h2>
  <div class="box">
    <ul>
      <li class="item" v-for="name in names">{{name}}</li>
    </ul>

  </div>
</div>
</template>

<script>
export default {
  name: "View",
  data(){
    return{
      title:'查看所有候选人',
      names:[]
    }
  },
  methods:{
    chakan:function (){
      let vm=this;
      this.axios({
        url:'http://localhost:8080/raffle/members',
        method:'get'
      }).then(function (res) {
        if (res.data.code==200){

          vm.names=res.data.data
        }else {
          alert(res.data.data)
        }
      })
    }
  }
}
</script>

<style scoped>
.box{
  width: 80%;
  margin: 10px auto;
}
.item{
  margin: 2px 4px;
}

</style>
