<template>
  <div id="app">
    <ul class="login">
      <li>
        <router-link to="/">登录</router-link>
      </li>
      <li>
        <router-link to="/reg">注册</router-link>
      </li>
    </ul>
    <img src="./assets/logo.png">
    <ul>
      <li>
        <router-link to="/add">新增抽奖人员</router-link>
      </li>
      <li>
        <router-link to="/raffle">抽奖</router-link>
      </li>
      <li>
        <router-link to="/delete/123">删除</router-link>
      </li>
      <li>
        <router-link to="/view">查看候选人</router-link>
      </li>
    </ul>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
ul{
  padding-left: 0;
}

ul li{
  list-style-type: none;
  display: inline-block;
  background-color: pink;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
}

ul li a{
  color:white;
  text-decoration: none;
}

ul li:hover{
  background-color: gold;
}
.login{
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.login li{
  background-color: white;
}

.login li a{
  color: black;
}

</style>
